/* General */
.flexbox {
    display: flex;
}
.flexbox.column {
    flex-direction: column;
}
/* Spoilers */
.spoiler {
    overflow: hidden;
    position: relative;
    height: auto;
    background: rgba(32,16,89, .6);
}

.spoiler-body {
    display: none;
    height: 230px;
    overflow-y: auto;
}

.spoiler-title {
    margin: 0;
    padding: 2px 0;
    position: relative;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.spoiler-title::before,
.spoiler-title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 10px;
    background: #fff;
    top: 50%;
    left: 22px;
    transform: rotate(45deg);
    transition: .3s;
}
.spoiler-title::after {
    transform: rotate(-45deg);
    left: 29px;
}
.spoiler-title.active::before {
    transform: rotate(-45deg);
}
.spoiler-title.active::after {
    transform: rotate(45deg);
}

/* Document styles */
#img-pass {
    margin: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    height: auto;   
}
.abs {
    margin: 0 15px;
    position: absolute;
    line-height: 1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-stretch: condensed;
    filter: blur(.4px);
    color: rgba(255, 255, 255, .9);
}
.abs#name {
    line-height: 1.1;
    letter-spacing: -.5px;
}
.abs#house { 
    letter-spacing: 0px;
    color: rgba(255, 255, 255, .8);
}

/* Popup styles */
#html-pass {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 316px;
    max-width: 100vw;
    height: 316px;
    max-height: 100vh;
    border-radius: 7px;
    background: #333;
    overflow: hidden;
    z-index: 100;
}

#body-pass {
    margin: 0 8px;   
    margin-bottom: 0;
    position: relative;
    width: 300px;
    max-width: 98vw;
    height: 308px;
    max-height: 98vh;
    background: #333;
}

/* Header */
#fefu-pass {
    margin: 0;
    position: relative;
    height: 35px;
    width: 100%;
    color: aliceblue;
    background: #333;
    z-index: 11;
}
/* Settings */
.title { 
    margin: 0;
    font-size: 22px;
    font-family: cursive;
    text-align: center;
}

#fefu-sett {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#fefu-sett span,
#fefu-sett::before, 
#fefu-sett::after {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 50%;
    width: 22px;
    height: 2px;
    background: rgba(255, 255, 255, .7);
    transition: .3s ease;
}
#fefu-sett::before {
    transform: translateY(-6px);
}
#fefu-sett::after {
    transform: translateY(6px);
}
#fefu-sett:hover span,
#fefu-sett:hover::after, 
#fefu-sett:hover::before {
    background: rgba(243, 129, 129, .85);
}
#fefu-sett.active span {
    width: 0;
    background: transparent;
}
#fefu-sett.active::before,
#fefu-sett.active::after {
    left: 10px;
    width: 12px;
    transform: rotate(-45deg) translateY(-6px);
}
#fefu-sett.active::after {
    transform: rotate(45deg) translateY(6px);
}

#fefu-close {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#fefu-close::before,
#fefu-close::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 22px;
    height: 2px;
    background: rgba(255, 255, 255, .7);
    transition: .3s ease;
    cursor: pointer;
}
#fefu-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
#fefu-close:hover::after,
#fefu-close:hover::before {
    background: red;
}

/* Content */
#content { 
    position: relative;
    width: auto;
    height: 263px;
    border-radius: 10px;
    background: #807881;
    overflow: hidden;
}
/* Menu */
#fefu-menu {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 13x;
    font-family: 'Open Sans', cursive;
    background: inherit;
    transition: .3s ease;
    z-index: 10;
}
#fefu-menu.active {
    left: 0;
}
.menu-item {
    margin: 0 auto;
    position: relative;
    min-width: 65%;
    color: #fff;   
    text-align: center;
}
.menu-item input {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Form */
#form-pass {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
}

.input-crt {
    margin: 5px auto;
    padding: 6px 10px 2px 10px;
    width: 70%;
    font-size: 13px;
    font-family: 'Open Sans';
    border-radius: 3px;
    border: 1px solid #797387;
    outline: none;
    overflow: hidden;
}

#save-btn {
    margin: 7px auto;
    height: 40px;
    font-size: 15px;
    background: #4169E1;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(3, 3, 3, .3);
    font-size: 17px;
    transition: .4s ease;
}
#save-btn:hover {
    color: #fff;
    background: #564BE1; 
    border: 1px groove #564BE1;
}
#save-btn:focus {
    @keyframe {
        20% {
            color: transparent;
            background-image: linear-gradient(45deg, #564BE1, #30FFCC); 
            border: 2px groove linear-gradient(-45deg, #564BE1, #30FFCC);
        }
        80% {
            color: transparent;
            background-image: linear-gradient(-45deg, #564BE1, #30FFCC); 
            border: 2px groove linear-gradient(45deg, #564BE1, #30FFCC);
        }
        100% {
            color: #fff;
            background: #564BE1; 
            border: 1px groove #564BE1;
        }
    }
}

/* Passlist */
#passlist {
    margin: 0;
    position: relative;
    max-height: 229px;
    overflow-y: auto;
}
#passlist.lock {
    overflow: hidden;
}
.passlist-item {
    margin: 9px auto;
    padding-top: 4px;
    position: relative;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-family: system-ui;
    text-align: center;
}
.delete {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    width: 17px;
}
.delete::before, 
.delete::after {
    content: "";
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: rotate(45deg) translate(-50%, -50%) ;
    height: 1px;
    width: 10px;
    background: #333;
    opacity: .7;
    transition: .3s ease-out;
}
.detele::after {
    transform: rotate(-45deg) translate(-50%, -50%) ;   
}
.delete:hover::before, 
.delete:hover::after {
    background: red;
    opacity: 1;
}
.passlist-item.active .delete::before, 
.passlist-item.active .delete::after {
    background: red;
}
.radio {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    cursor: pointer;
}

#signature {
    margin: 0;
    font: 13px monospace;
    color: #f38181;
    text-align: center;
}
