/* General */
.flexbox {
    display: flex;
}
.flexbox.column {
    flex-direction: column;
}
/* Spoilers */
.spoiler {
    overflow: hidden;
    position: relative;
    height: auto;
    background: rgba(32,16,89, .6);
}

.spoiler-body {
    display: none;
    height: 233px;
    overflow-y: auto;
}

.spoiler-title {
    margin: 0;
    padding: 5px 0;
    position: relative;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
.spoiler-title::before,
.spoiler-title::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 10px;
    background: #fff;
    top: 50%;
    left: 5px;
    transform: rotate(45deg);
    transition: .3s;
}
.spoiler-title::after {
    transform: rotate(-45deg);
    left: 12px;
}

.spoiler-title.active {
    margin: 0 0 20px 0;
}
.spoiler-title.active::before {
    transform: rotate(-45deg);
}
.spoiler-title.active::after {
    transform: rotate(45deg);
}

/* Document styles */
#img-pass {
    margin: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    width: calc(100% - 30px);
    height: auto;   
}
.abs {
    margin: 0 15px;
    position: absolute;
    line-height: 1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-stretch: condensed;
    filter: blur(.4px);
    color: rgba(255, 255, 255, .9);
}
.abs#name {
    line-height: 1.1;
    letter-spacing: -.5px;
}
.abs#house { 
    letter-spacing: 0px;
    color: rgba(255, 255, 255, .8);
}

/* Popup styles */
#html-pass {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 316px;
    max-width: 100vw;
    height: 316px;
    max-height: 100vh;
    border-radius: 7px;
    background: #333;
    z-index: 10000;
}

#body-pass {
    margin: 0 8px;   
    margin-bottom: 0;
    position: relative;
    width: 300px;
    max-width: 98vw;
    height: 308px;
    max-height: 98vh;
    background: #333;
}

/* Header */
#fefu-pass {
    margin: 0;
    position: relative;
    height: 35px;
    width: 100%;
    font: 25px cursive;
    text-align: center;
    color: aliceblue;
    background: #333;
}

#fefu-pass p {
    margin: 0;
    cursor: default;
}

#fefu-sett {
    margin: 0;
    position: absolute;
    left: 0;
    color: rgba(255, 255, 255, .7);
    transition: .3s;
}
#fefu-sett::before, 
#fefu-sett::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, .7);
    transition: .3s;
}
#fefu-sett::before {
    top: -5px;
}
#fefu-sett::after {
    top: 5px;
}
#fefu-sett:hover, 
#fefu-sett::before:hover, 
#fefu-sett::after:hover {
    
}

#fefu-close {
    margin: 0;
    position: absolute;
    right: 0;
    top: -2px;
    opacity: .7;
    color: #fff;
    transition: .3s;
}
#fefu-close:hover {
    opacity: 1;
    color: red;
}

/* Content */
#content { 
    position: relative;
    width: auto;
    height: 263px;
    border-radius: 10px;
    background: #807881;
    overflow: hidden;
}

/* Form */
#form-pass {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
}

.input-crt {
    margin: 4px auto;
    padding: 7px 10px 3px 0;
    width: 70%;
    border-radius: 3px;
    border: 1px solid #797387;
    outline: none;
    overflow: hidden;
}

#save-btn {
    margin: 7px auto;
    height: 40px;
    font-size: 15px;
    background: #4169E1;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(3, 3, 3, .3);
    font-size: 17px;
}

/* Passlist */
#passlist {
    margin: 0;
    margin-top: 7px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 233px;
    overflow-y: auto;
}
.passlist_item {
    margin: 5px auto;
    padding-top: 4px;
    position: relative;
    width: 90%;
    height: 35px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    color: #333;
    font-size: 16px;
}
.radio {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    cursor: pointer;
}

#signature {
    margin: 0;
    font: 13px monospace;
    color: #f38181;
    text-align: center;
}
